.HeaderWrapper {
  height: 80px;
  background-color: #0e2a2b;
  justify-content: center;
  display: flex;
  align-items: center;
}

.HeaderText {
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 600;
}


